.main {
  width: 334px;
  height: 495px;
  overflow: auto;
}

.trigHidden {
  z-index: 99;
  top: 215px;
  left: 67px;
}

.funcHidden {
  z-index: 99;
  top: 215px;
  left: 129px;
}

.secondHidden {
  top: 260px;
  left: 67px;
}

.main table tr td table, .secondHidden {
  display: none;
}

.main table tr td table.show, .secondHidden.show {
  display: block;
}

td {
  border: thin dotted gray;
}

.button.memAction {
  height: 30px;
  width: 40px;
  background: rgb(70, 70, 70);
}

.button.grey2.opened {
  position: relative;
  z-index: 100;
}

.logItem:hover, .memItem:hover {
  background: rgb(90, 90, 90);
}

.button.blue:hover, .memAction:hover {
  background: #0694ad;
}

.button.grey:hover.opened, .grey2:hover.opened {
  /*background: none;*/
  box-shadow: 0 2px 3px #07b3d1;
}

.button:active.blue, :active.memAction {
  background: #06768a;
}

.clearLog, .clearMemory {
  position: absolute;
  top: 495px;
  left: 646px;
  display: none;
}

.clearLog.show, .clearMemory.show {
  display: block;
}

#bigArea, #smallArea, #content {
  text-align: right;
  border: none;
}

body.contentOpened {
  overflow: hidden;
}

.hiddenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  background: #000000;
  opacity: 0;
  width: 0;
  height: 0;
  transition: opacity 1s;
}

.button.log, .memory {
  height: 40px;
  width: 100px;
  background: rgb(70, 70, 70);
}

.button.log:hover, .memory:hover {
  color: rgb(207, 207, 207);
}

.mainContainer button.opened, .button.grey.second.opened {
  box-shadow: 0 2px 3px #07b3d1;
}

.log.opened, .memory.opened {
  text-decoration: underline;
  text-decoration-color: #07b3d1;
  text-decoration-thickness: 3px;
}

.contentContainer {
  margin: 0 0 35px;
  padding: 0;
  width: 250px;
  height: 420px;
  overflow: auto;
}

.noBorder {
  border: none;
}

.noMemory, .inactive {
  /*display: none;*/
  color: rgb(100, 100, 100);
}

.noMemory:hover.grey, .noMemory:active.grey, .inactive:hover.grey,
.inactive:active.grey, .inactive:hover.grey2, .inactive:active.grey2 {
  background: none;
  box-shadow: none;
}

.memAction {
  display: none;
}

.memAction.opened {
  display: inline;
}

.memItem {
  height: 63px;
}

.logItemResult {
  font-size: 140%;
}