.trigHidden {
  top: 140px;
  left: 138px;
}

.funcHidden {
  top: 140px;
  left: 138px;
}

.secondHidden {
  top: 191px;
  left: 67px;
}

.main table tr td table {
  display: none;
}

.main table tr td table.show {
  display: block;
}

.mainContainer button.opened {
  box-shadow: 0 2px 3px #07b3d1;
}

td {
  padding: 5px;
  border: thin dotted gray;
}

.button.blue:hover {
  background: #0694ad;
}

.button:active.blue {
  background: #06768a;
}

#bigArea, #smallArea {
  text-align: right;
  border: none;
}

.sideMenu ul li:last-child {
  border-bottom: 1px solid rgba(255, 0, 0, 0.05);
}